<% provide(:title, "О нас - Денви Ярд") %>
<% provide(:metaDescription, "Денви Ярд это архитектурно-дизайнерское бюро, преданное артистичному воплощению интересных историй. Мы строим детям реалистичные тематические игровые площадки премиум класса, которые захватывают дух. Дизайн, производство, продажа, установка и обслуживание.") %>

<header>
	<div class="left_header_box">
		<h2 style="display:inline;"><%= link_to 'Денви Ярд', root_path %></h2>
		<h3 style="display:inline;"> . О нас</h3>
	</div>
	<div class="right_header_box">
		<div class="catchy_phone">
			<p style="margin:0;">
				<%# <span style="letter-spacing: 0.13em;">Производство <span style="color: rgb(71, 71, 71);">|</span> продажа</span><br>
				<span style="font-size: 71%; color: rgb(71, 71, 71);">установка игрового оборудования под ключ</span><br>	%>		
				<span class="f_phone">в Москве </span><span style="font-size: 120%;">+7 (499) 390-53-30</span>
			</p>
		</div>
		<div class="return_call_btn" onclick="yaCounter28248276.reachGoal('return_call_btn_click'); return true;">Обратный звонок</div>
	</div>
</header>




<div id="about_content">
<div class="sider_index sider_about">
	<div class="profile_box">
		<p class="company_profile">Производство, продажа, дизайн, проектирование, установка сценических площадок премиум сегмента из дерева</p>
		<%# <p class="company_profile">Дизайн, проектирование, производство, установка, продажа дизайнерских площадок премиум сегмента из дерева</p>%>
	</div>
	<%= link_to(content_tag(:p, "Для парков,<br>дворов, жилых<br>комплексов".html_safe, class: "p_side_link")+content_tag(:p, "Крупные сценические<br>комплексы с размерами игровой зоны от 10 х 10 метров".html_safe, class: "post_word_side_link"), playgrounds_path, class: "side_link") %>
	<%= link_to(content_tag(:p, "Для дома, дачи", class: "p_side_link")+content_tag(:p, "Игровые площадки небольших размеров", class: "post_word_side_link"), playgrounds_path(position: "sizeC"), class: "side_link") %>
	<%= link_to(content_tag(:p, "+ Ваша идея", class: "p_side_link")+content_tag(:p, "Выберите любые элементы из готовых эскизов или расскажите нам о своей идее", class: "post_word_side_link"), playgrounds_path(position: "newIdea"), class: "side_link") %>
</div>

<h1>О <b>нас</b></h1>
<p>Денви Ярд это архитектурно-дизайнерское бюро,<br>преданное артистичному воплощению интересных историй.<br><br>Мы строим детям реалистичные тематические игровые площадки, которые захватывают дух.</p>
<div class="border_div"></div>

<%= render 'layouts/whoweare' %>

<div class="border_div"></div>
<h3>Юридическое лицо Денви Ярд</h3>
<p>ООО "Частная Компания "Атлант"<br>Телефон: +7 (499) 390-53-30<br>Адрес: 105120, Москва, ARTPLAY, Нижняя Сыромятническая, 10, корпус 2, 7 этаж, Метро «Чкаловская»<br>Электронная почта: <%= mail_to('info@denvyyard.com') %><br></p>



</div>