<% provide(:title, "Денви Ярд") %>

<div class="welcome_box">
	<div class="leftb link_box">
		<h3><%= link_to "О нас", about_path, class: "home_links" %><%= link_to "Каталог площадок", playgrounds_path, class: "home_links" %></h3>
	</div>
	<div class="middleb">
		<h1>Денви Ярд</h1><br>
		<p>- Denvy Yard -</p>
	</div>
	<div class="rightb link_box">
		<h3><%= link_to "Древесная щепа", mulch_path, class: "home_links" %><%= link_to "Контакты", about_path(position: "contacts"), class: "home_links" %></h3>
	</div>
	<div class="pic_box"></div>
	<h2>Мы строим детям реалистичные тематические<br>игровые площадки, которые захватывают дух.</h2>
</div>

<%= render 'layouts/whoweare' %>
