<% provide(:title, "Тематические игровые площадки Денви Ярд") %>
<% provide(:metaDescription, "Креативные детские игровые площадки из дерева премиум класса. Производство, продажа, установка и обслуживание. Денви Ярд это архитектурно-дизайнерское бюро, преданное артистичному воплощению интересных историй. Мы строим детям реалистичные тематические игровые площадки, которые захватывают дух.") %>

<div id="welcome_box">
	<div class="leftb link_box">
		<h3><%= link_to "О нас", about_path, class: "home_links" %><%= link_to "Каталог площадок", playgrounds_path, class: "home_links" %></h3>
	</div>
	<div class="middleb">
		<h1>Денви Ярд</h1><br>
		<p>- Denvy Yard -</p>
	</div>
	<div class="rightb link_box">
		<h3><%= link_to "Древесная щепа", mulch_path, class: "home_links" %><%= link_to "Контакты", about_path(position: "contacts"), class: "home_links" %></h3>
	</div>

	<div id="eye-CatchingSlides">
		<div class="someItem here"  count="1"><%= image_tag('HomeSlides/slide1.jpg', alt: "Denvy Yard Playgrounds") %></div>
		<div class="someItem right" count="2"><%= image_tag('HomeSlides/slide2.jpg', alt: "Denvy Yard Playgrounds") %></div>
		<div class="someItem right" count="3"><%= image_tag('HomeSlides/slide3.jpg', alt: "Denvy Yard Playgrounds") %></div>
		<div class="someItem right" count="4"><%= image_tag('HomeSlides/slide4.jpg', alt: "Denvy Yard Playgrounds") %></div>
		<div class="someItem right" count="5"><%= image_tag('HomeSlides/slide5.jpg', alt: "Denvy Yard Playgrounds") %></div>
		<div class="someItem right" count="6"><%= image_tag('HomeSlides/slide6.jpg', alt: "Denvy Yard Playgrounds") %></div>

	</div>









	<h2>Мы строим детям реалистичные тематические<br>игровые площадки, которые захватывают дух.</h2>
</div>

<%= render 'layouts/whoweare' %>


