<% provide(:title, "Готовые эскизы площадок") %>

<header>
	<div class="left_header_box">
		<h2 style="display:inline;"><%= link_to 'Denvy Yard', root_path %></h2>
		<h3 style="display:inline;"> . Детские игровые площадки - готовые эскизы</h3>
	</div>
	<div class="right_header_box">
		<div class="catchy_phone">
			<p style="margin:0;">
				<%# <span style="letter-spacing: 0.13em;">Производство <span style="color: rgb(71, 71, 71);">|</span> продажа</span><br>
				<span style="font-size: 71%; color: rgb(71, 71, 71);">установка игрового оборудования под ключ</span><br>	%>		
				<span class="f_phone">в Москве </span><span style="font-size: 120%;">+7 (499) 933-53-30</span>
			</p>
		</div>
		<div id="return_call_btn">Обратный звонок</div>
	</div>
</header>

<div class="sider_index">
	<div class="profile_box">
		<p class="company_profile">Производство, продажа, дизайн, проектирование, установка сценических площадок премиум сегмента из дерева</p>
		<%# <p class="company_profile">Дизайн, проектирование, производство, установка, продажа дизайнерских площадок премиум сегмента из дерева</p>%>
	</div>
	<%= content_tag(:div, content_tag(:p, "Для парков, жилых комплексов, дворов", class: "p_side_link")+content_tag(:p, "Крупные сценические<br>комплексы с размерами игровой зоны от 10 х 10 метров".html_safe, class: "post_word_side_link"), class: "side_link", id: "index_link1") %>
	<%= content_tag(:div, content_tag(:p, "Для дома, дачи", class: "p_side_link")+content_tag(:p, "Игровые площадки небольших размеров", class: "post_word_side_link"), class: "side_link", id: "index_link2") %>
	<%= content_tag(:div, content_tag(:p, "+ Ваша идея", class: "p_side_link")+content_tag(:p, "Выберите любые элементы из готовых эскизов или расскажите нам о своей идее", class: "post_word_side_link"), class: "side_link", id: "index_link3") %>
</div>


<div class="centered">

	
	<div class="index_content">


			<h1 id="index_part1">Детские игровые площадки большого размера</h1>
			<h2 class="playground_post_header light_pen">Для парков, жилых комплексов, усадеб, придворовых территорий</h2>
			<% Playground.where(size: "A").each do | pg | %>
			<div class="preview_div">
				<div class="preview_index_box">
					<%= link_to image_tag(pg.name+"/preview.jpg", class: "index_preview_image"), playground_path(id: pg.id), class: "", style: "" %>
				</div>
				<div class="preview_description_box">
					<h2><%= link_to pg.name_RU,playground_path(id: pg.id), class: "", style: "" %></h2>
					<div class="reduce_hover_area"></div>
					<ul>
						<li><span class="iruler icons tooltip" hint="Размер игровой зоны"></span><span style="font-style: italic;"><%= pg.text1 %></span></li>
						<li><span class="iage icons tooltip" hint="Категория"></span><span style="font-style: italic;"><%= pg.text2 %></span></li>
						<li><span class="icapacity icons tooltip" hint="Вместимость"></span><span style="font-style: italic;"><%= pg.text3 %></span></li>
						<li><span class="idelivery icons tooltip" hint="Срок поставки"></span><span style="font-style: italic;"><%= pg.text4 %></span></li>
					</ul>
					<%= link_to "Материалы", playground_path(pg, position: "materials"), class: "minor_link" %><br> <%#edit_micropost_path(pg)%>
					<%= link_to "Комплектации и цены", playground_path(pg, position: "prices"), class: "minor_link" %>
 				</div>
	 		</div>
			<% end %>


		
			<h1 id="index_part2">Детские игровые площадки размером до 10х10 метров</h1>	
			<h2 class="playground_post_header light_pen">Для загородных домов, дач, а также небольших дворов, детских садов</h2>
			<% Playground.where(size: "C").each do | pg | %>
				<div class="preview_div">
					<div class="preview_index_box">
						<%= link_to image_tag(pg.name+"/preview.jpg", class: "preview_image"), playground_path(id: pg.id), class: "", style: "" %>
					</div>
					<div class="preview_description_box">
						<h2><%= link_to pg.name_RU,playground_path(id: pg.id), class: "", style: "" %></h2>
						<div class="reduce_hover_area"></div>
						<ul>
							<li><span class="iruler icons tooltip" hint="Размер игровой зоны"></span><span style="font-style: italic;"><%= pg.text1 %></span></li>
							<li><span class="iage icons tooltip" hint="Категория"></span><span style="font-style: italic;"><%= pg.text2 %></span></li>
							<li><span class="icapacity icons tooltip" hint="Вместимость"></span><span style="font-style: italic;"><%= pg.text3 %></span></li>
							<li><span class="idelivery icons tooltip" hint="Срок поставки"></span><span style="font-style: italic;"><%= pg.text4 %></span></li>
						</ul>
						<%= link_to "Материалы", playground_path(pg, position: "materials"), class: "minor_link" %><br>
						<%= link_to "Комплектации и цены", playground_path(pg, position: "prices"), class: "minor_link" %>
					</div>
				</div>
			<% end %>

			<!-- YOUR IDEAS PLAYGROUND -->
			<h1 id="index_part3">Выберите готовый эскиз или расскажите нам о своей идее</h1>
			<h2 class="playground_post_header light_pen">Тематические многофункциональные детские игровые площадки выполненные в европейском дизайне для современных парков, жилых комплексов, усадеб, посёлков, таунхаусов, домов или дач</h2>
			<div class="preview_div">   
				<div class="preview_index_box">
					<%= link_to content_tag(:div, "", class: "new_idea"), "#", class: "", style: "" %>
				</div>
				<div class="preview_description_box">
					<h2><%= link_to "Ваша идея", "#", class: "", style: "" %></h2>
					<div class="reduce_hover_area"></div>
					<ul>
						<li><span class="iruler icons tooltip" hint="Размер игровой зоны"></span><span style="font-style: italic;">любой размер</span></li>
						<li><span class="iage icons tooltip" hint="Категория"></span><span style="font-style: italic;">любая возрастная группа или микс</span></li>
						<li><span class="icapacity icons tooltip" hint="Вместимость"></span><span style="font-style: italic;">от 1 ребёнка</span></li>
						<li><span class="idelivery icons tooltip" hint="Срок поставки"></span><span style="font-style: italic;">от 1 недели</span></li>
					</ul>
					<%= link_to "Материалы которые мы используем", playground_path(1, position: "materials"), class: "minor_link" %><br>	
 				</div>
 				<p class="playground_post_header grey_pen" style="font-style: normal; margin: 20px 0; color: #3c9596;">Вы можете сами скомпоновать площадку своей мечты из любых элементов площадок, которые представлены у нас в <span class="intext_ref">каталоге</span>. Мы бесплатно внесём необходимые изменения в техническую модель в соответствии с характеристиками участка под площадку и Вашими пожеланиями.<br><br>Если у Вас есть идея для темы площадки или, может, история, которая ляжет в основу эскиза - мы будем отталкиваться от Вашей идеи. Для воодушевления добро пожаловать в <span class="intext_ref">наш каталог</span>. <br><br>Разработанный с нуля индивидуальный дизайн площадки по мотивам Вашей идеи или истории будет стоить дополнительно 3% от полной стоимости площадки.<br><br>Наши сценические площадки не только интересней, но и функциональней чем трафаретные площадки, выполненные из пластика и металлического каркаса. Реалистичность сюжета вызывает здоровый страх у ребёнка, как и в реальном мире, только в безопасной среде. Ребёнок не помещён в "идеальную" среду, а наоборот - подвержен реальным испытаниям, с которыми он сталкивается в повседневной жизни. <br><br>Ребёнок учится управлять рисками, и если он падает, то только на упругое основание и без прочих препятствий. Поэтому, принимая вызовы здесь, детей не тянет на небезопасные для игр зоны - недостроенный соседний дом, разрытая теплотрасса и другие. Все наши площадки рассказывают какую-то историю, интригуя детей и взрослых, удивляя своей реальностью.</p>
	 		</div>
	 		<!-- YOUR IDEAS PLAYGROUND -->				
	 

	</div> <!--index_content -->

</div> <!--centered -->
