<!DOCTYPE html>
<html>
<head>

  <title><%= yield(:title).presence || "Denvy Yard playgrounds" %></title>
  <link rel="shortcut icon", href="/assets/icons/favicon.ico" >

  

 



<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>

</head>


<body>

<div style="display: none;">
	<p>Денви Ярд © 2015 <br>Проектирование, дизайн, производство, продажа, установка игровых детских площадок премиум сегмента из дерева.<br></p>
	<p>Copyright © 2015 Denvy Yard playgrounds and surfaces.</p>
</div>


<div id="bewitching_box" class="backdrop">
	<div class="detailed_picture_button close_btn"></div>
	
	<div class="backdrop_content">
		<p class="backdrop_text" style="font-size: 130%;">Введите Ваше имя и телефон.<br>Мы перезвоним Вам в ближайшее время.</p>

		<%= form_tag(url_for(controller: 'static_pages', action: 'sending_email'), id: "return_call_form") do %>
		  <input id="customer_first_name" name="customer[first_name]" type="text" placeholder="Ваше имя" class="backdrop_input"/>
		  <input id="customer_phone_number" name="customer[phone_number]" type="text"  placeholder="Телефон" class="backdrop_input"/>
		  <%= submit_tag(:submit, name: "commit", value: "Ok", class: "backdrop_btn", data: {disable_with: "Sending..."}) %>
		<% end %>
		<p class="backdrop_text">Мы не передаём номера телефонов третьим лицам.</p>
	</div>
</div>
<% if flash[:success] %>
    <div id="flash_box"><p><%= flash[:success] %></p></div>
<% end %>

<%= yield %>

<%# debug(params) %>

<footer>
	<p>Денви Ярд © 2015 <br>Проектирование, дизайн, производство, продажа, <br>установка игровых детских площадок премиум сегмента из дерева.<br></p>
	<p>Copyright © 2015 Denvy Yard playgrounds and surfaces.</p>
</footer>

<div style="display: none;" class="tag">
	<p>элитные детские площадки из дерева - производство и продажа</p>
	<p>дизайнерские детские площадки из дерева - производство и продажа</p>
	<p>тематические детские площадки из дерева - производство и продажа</p>
	<p>сценические детские площадки из дерева - производство и продажа</p>
	<p>интересные детские площадки из дерева - производство и продажа</p>
	<p>детская площадка призрак - производство и продажа</p>
	<p>детская площадка привидение - производство и продажа</p>
	<p>детская площадка дом с привидениями - производство и продажа</p>
	<p>детская площадка экскаватор - производство и продажа</p>
	<p>детская площадка для дома - производство и продажа</p>
	<p>детская площадка для дачи - производство и продажа</p>
	<p>детская площадка во двор - производство и продажа</p>
	<p>детская площадка для парка - производство и продажа</p>
	<p>детская площадка для жилого комплекса - производство и продажа</p>
</div>

</body>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="<%= javascript_path('jquery.inputmask') %>" type="text/javascript"></script>
<script>

//=START================================================== jQuery ===============================================================================
  $(function(){

  	// START--------------------------------------------------0
  	<% if @digestrails %>
	  	var digestjs = Array;
	    <% 9.times do | d | %>
	    	digestjs[<%= d %>] = "<%= @digestrails[d] %>";
	    <% end %>
    <% end %>
    // START--------------------------------------------------0


	// START--------------------------------------------------1.1
    $("#link1").click(function(){
      var offset = $("#part1").offset();
      $('html, body').animate({
        scrollTop: offset.top-60
      });
    });
    // END----------------------------------------------------1.1
    // START--------------------------------------------------1.2
    $("#link2").click(function(){
      var offset = $("#part2").offset();
      $('html, body').animate({
        scrollTop: offset.top-60
      });
    });
    // END----------------------------------------------------1.2
    // START--------------------------------------------------1.3
    $("#link3").click(function(){
      var offset = $("#part3").offset();
      $('html, body').animate({
        scrollTop: offset.top-60
      });
    });
    // END----------------------------------------------------1.3
    // START--------------------------------------------------1.4
    $("#link4").click(function(){
      var offset = $("#part4").offset();
      $('html, body').animate({
        scrollTop: offset.top-60
      });
    });
    // END----------------------------------------------------1.4
    // START--------------------------------------------------2.1
    $("#index_link1").click(function(){
      var offset = $("#index_part1").offset();
      $('html, body').animate({
        scrollTop: offset.top-80
      });
    });
    // END----------------------------------------------------2.1
    // START--------------------------------------------------2.2
    $("#index_link2").click(function(){
      var offset = $("#index_part2").offset();
      $('html, body').animate({
        scrollTop: offset.top-80
      });
    });
    // END----------------------------------------------------2.2
    // START--------------------------------------------------2.3
    $("#index_link3").click(function(){
      var offset = $("#index_part3").offset();
      $('html, body').animate({
        scrollTop: offset.top-80
      });
    });
    // END----------------------------------------------------2.3
    // START--------------------------------------------------2.4ref
    $(".intext_ref").click(function(){
      var offset = $("#index_part1").offset();
      $('html, body').animate({
        scrollTop: offset.top-80
      });
    });
    // END----------------------------------------------------2.4ref
    // START--------------------------------------------------3
    $(document).ready(function(){
      $('#customer_phone_number').inputmask("+7 (999) 999 99 99");  //static mask
      var pos = "<%= params[:position] %>";
      if (pos == "materials") { $("#link3").click();};
      if (pos == "prices") { $("#link4").click();};
      
      

      <% if flash[:success] %>
    	myVAR = setTimeout(flash_away, 6000);
      	function flash_away() {
      	function complete() {
		  $('#flash_box').remove();
		}
      	$('#flash_box').fadeOut(400, complete);
      	}
      <% end %>
      
    });
    // END----------------------------------------------------3

    // START--------------------------------------------------4.1
    $(".preview_image").click(function(){
      var loc = eval($(this).attr("name"));
      $('#detailed_picture').attr("src", loc);
      $('#detailed_picture').attr("name", $(this).attr("name"));
      $('.content,header,.sider_show').toggleClass("blurred");
      $('#detailed_picture_box').toggleClass("enabled");
    });
    // END----------------------------------------------------4.1
    // START--------------------------------------------------4.2
    $(".prev_btn").click(function(){
      var old_name = $("#detailed_picture").attr("name");
      var n = parseInt(old_name.substring(old_name.length-2,old_name.length-1));
      var new_n = 0;
      n>0? new_n = n - 1 : new_n = 8;
      $('#detailed_picture').attr("src", digestjs[new_n]);
      $('#detailed_picture').attr("name", "digestjs["+new_n+"]");
    });
    // END----------------------------------------------------4.2
    // START--------------------------------------------------4.3
    $(".next_btn,#detailed_picture").click(function(){
      var old_name = $("#detailed_picture").attr("name");
      var n = parseInt(old_name.substring(old_name.length-2,old_name.length-1));
      var new_n = 0;
      n<8? new_n = n + 1 : new_n = 0;
      $('#detailed_picture').attr("src", digestjs[new_n]);
      $('#detailed_picture').attr("name", "digestjs["+new_n+"]");    
    });
    // END----------------------------------------------------4.3
    // START--------------------------------------------------4.X
    $(".close_btn").click(function(){
      $('.content,header,.sider_show,.sider_index,.index_content').removeClass("blurred");
      $('.backdrop').removeClass("enabled");
    });
    // END----------------------------------------------------4.X

    // START--------------------------------------------------5.1
    $("#return_call_btn").click(function(){
      $('.content,header,.sider_show,.sider_index,.index_content').toggleClass("blurred");
      $('#bewitching_box').toggleClass("enabled");
    });
    // END----------------------------------------------------5.1

    // START--------------------------------------------------6
    $("#return_call_form").submit(function(){
      $('.content,header,.sider_show,.sider_index,.index_content').toggleClass("blurred");
      $('#bewitching_box').toggleClass("enabled");
      $('#bewitching_box').before('<div class="backdrop" style="z-index: 12; display: block;"><div class="loader"></div></div>');
    });
    // END----------------------------------------------------6

    // START--------------------------------------------------7
    
    // END----------------------------------------------------7
});//=END================================================== jQuery ===============================================================================
</script>

</html>
