<!DOCTYPE html>
<html>
<head>

  <title><%= yield(:title).presence || "Denvy Yard playgrounds" %></title>
  <link rel="shortcut icon", href="/assets/icons/favicon.ico" >

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>

</head>


<body>
<%= render 'layouts/yandexMetrika' %>
<div style="display: none;">
	<p>Денви Ярд | Тематические детские площадки премиум сегмента из дерева | Современные экологичные покрытия для игровых зон из древесной щепы.<br>Проектирование, дизайн, производство, продажа, установка и обслуживание игровых детских площадок премиум сегмента из дерева.<br></p>
	<p>Copyright © 2015 Denvy Yard playgrounds and surfaces.</p>
</div>

<%= yield %>



<%= render 'layouts/footer' %>
<%= render 'layouts/bewitching' %>

<% if flash[:success] %>
    <div id="flash_box"><p><%= flash[:success] %></p></div>
<% end %>

<% if flash[:error] %>
    <div id="flash_box"><p><%= flash[:error] %></p></div>
<% end %>

<%= render 'layouts/searchTags' %>
<%# debug(params) %>
</body>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="<%= javascript_path('jquery.inputmask') %>" type="text/javascript"></script>
<script>

//=START================================================== jQuery ===============================================================================
  $(function(){

  	// START--------------------------------------------------0
  	<% if @digestrails %>
	  	var digestjs = Array;
	    <% 9.times do | d | %>
	    	digestjs[<%= d %>] = "<%= @digestrails[d] %>";
	    <% end %>
    <% end %>
    // START--------------------------------------------------0


	// START--------------------------------------------------1.1
    $("#link1").click(function(){
      var offset = $("#part1").offset();
      $('html, body').animate({
        scrollTop: offset.top-60
      });
    });
    // END----------------------------------------------------1.1
    // START--------------------------------------------------1.2
    $("#link2").click(function(){
      var offset = $("#part2").offset();
      $('html, body').animate({
        scrollTop: offset.top-60
      });
    });
    // END----------------------------------------------------1.2
    // START--------------------------------------------------1.3
    $("#link3").click(function(){
      var offset = $("#part3").offset();
      $('html, body').animate({
        scrollTop: offset.top-60
      });
    });
    // END----------------------------------------------------1.3
    // START--------------------------------------------------1.4
    $("#link4").click(function(){
      var offset = $("#part4").offset();
      $('html, body').animate({
        scrollTop: offset.top-60
      });
    });
    // END----------------------------------------------------1.4
    // START--------------------------------------------------2.1
    $("#index_link1").click(function(){
      var offset = $("#index_part1").offset();
      $('html, body').animate({
        scrollTop: offset.top-80
      });
    });
    // END----------------------------------------------------2.1
    // START--------------------------------------------------2.2
    $("#index_link2").click(function(){
      var offset = $("#index_part2").offset();
      $('html, body').animate({
        scrollTop: offset.top-80
      });
    });
    // END----------------------------------------------------2.2
    // START--------------------------------------------------2.3
    $("#index_link3").click(function(){
      var offset = $("#index_part3").offset();
      $('html, body').animate({
        scrollTop: offset.top-80
      });
    });
    // END----------------------------------------------------2.3
    // START--------------------------------------------------2.4ref
    $(".intext_ref").click(function(){
      var offset = $("#index_part1").offset();
      $('html, body').animate({
        scrollTop: offset.top-80
      });
    });
    // END----------------------------------------------------2.4ref
    // START--------------------------------------------------3
    $(document).ready(function(){
      $('#customer_phone_number').inputmask("+7 (999) 999 99 99");  //static mask
      var pos = "<%= params[:position] %>";
      if (pos == "materials") { $("#link3").click();};
      if (pos == "prices") { $("#link4").click();};
      if (pos == "sizeC") { $("#index_link2").click();};
      if (pos == "newIdea") { $("#index_link3").click();};

	  <% if flash[:success] %>
    	myVAR = setTimeout(flash_away, 6000);
      	function flash_away() {
      	function complete() {
		  $('#flash_box').remove();
		}
      	$('#flash_box').fadeOut(400, complete);
      	}
      <% end %>
      
      

    });
    // END----------------------------------------------------3

    // START--------------------------------------------------4.1
    $(".preview_image").click(function(){
      var loc = eval($(this).attr("name"));
      $('#detailed_picture').attr("src", loc);
      $('#detailed_picture').attr("name", $(this).attr("name"));
      $('.content,header,.sider_show').toggleClass("blurred");
      $('#detailed_picture_box').toggleClass("enabled");
    });
    // END----------------------------------------------------4.1
    // START--------------------------------------------------4.2
    $(".prev_btn").click(function(){
      var old_name = $("#detailed_picture").attr("name");
      var n = parseInt(old_name.substring(old_name.length-2,old_name.length-1));
      var new_n = 0;
      n>0? new_n = n - 1 : new_n = <%= @picturesNumber.to_i-1 %>;
      $('#detailed_picture').attr("src", digestjs[new_n]);
      $('#detailed_picture').attr("name", "digestjs["+new_n+"]");
    });
    // END----------------------------------------------------4.2
    // START--------------------------------------------------4.3
    $(".next_btn,#detailed_picture").click(function(){
      var old_name = $("#detailed_picture").attr("name");
      var n = parseInt(old_name.substring(old_name.length-2,old_name.length-1));
      var new_n = 0;
      n<<%= @picturesNumber.to_i-1 %>? new_n = n + 1 : new_n = 0;
      $('#detailed_picture').attr("src", digestjs[new_n]);
      $('#detailed_picture').attr("name", "digestjs["+new_n+"]");    
    });
    // END----------------------------------------------------4.3
    // START--------------------------------------------------4.X
    $(".close_btn").click(function(){
      $('.content,header,.sider_show,.sider_index,.index_content,.mulch_content').removeClass("blurred");
      $('.backdrop').removeClass("enabled");
    });
    // END----------------------------------------------------4.X

    // START--------------------------------------------------5.1
    $("#return_call_btn").click(function(){
      $('.content,header,.sider_show,.sider_index,.index_content,.mulch_content').toggleClass("blurred");
      $('#bewitching_box').toggleClass("enabled");
      $('#backdropMessageTop').html('Введите Ваше имя и телефон.<br>Мы перезвоним Вам в ближайшее время.');
      $('#backdropMessageBottom').html('Мы не передаём номера телефонов третьим лицам.');
      $('#customer_idea').hide();
      $('.backdrop_content').css('top','30%');
    });
    // END----------------------------------------------------5.1
    // START--------------------------------------------------5.2
    $(".new_idea_link").click(function(){
      $('.content,header,.sider_show,.sider_index,.index_content').toggleClass("blurred");
      $('#bewitching_box').toggleClass("enabled");
      $('#backdropMessageTop').html('Мы с радостью приступим к дизайну Вашей площадки,<br>основываясь на Вашей идее или истории.<br><br>За вдохновением - добро пожаловать в наш каталог площадок.<br><br>Вкратце расскажите нам о желаемом сюжете,<br>мы перезвоним Вам в ближайшее время.');
      $('#backdropMessageBottom').html('Мы не передаём номера телефонов третьим лицам.');
      $('#customer_idea').show();
      $('.backdrop_content').css('top','0');
    });
    // END----------------------------------------------------5.2

    // START--------------------------------------------------6.1
    $("#return_call_form").submit(function(){
		function formValidated() {
    		var cpn = $('#customer_phone_number').val();
    		if ((cpn != "") && (cpn.match(/-/) == null)) 
    			{
    				return true;
    			} else 
    			{
    				$('#customer_phone_number').css('border-color','red');
    				$('#flashMessage').html('Убедитесь, что поле Телефон заполнено верно');
    				return false;
    			}
      	}
    	if (formValidated())
    	{
    		$('.content,header,.sider_show,.sider_index,.index_content').toggleClass("blurred");
    		$('#bewitching_box').before('<div class="backdrop" style="z-index: 12; display: block;"><div class="loader"></div></div>');
		    $('#bewitching_box').toggleClass("enabled");
      		return true;
      	}
      	else return false;
    });
    // END----------------------------------------------------6.1
    // START--------------------------------------------------6.2
    
    // END----------------------------------------------------6.2

    // START--------------------------------------------------7.1
    $(".tooltip").mouseenter(function(){
      $('.hint').remove();
      var element = this;
	  delayedID = setTimeout(function delayedPrepend() {
		$(element).prepend('<div class="hint">'+$(element).attr('hint')+'</div>');
	  }, 700);
    });    
    // END----------------------------------------------------7.1
    // START--------------------------------------------------7.2
    $(".tooltip,.hint").mouseleave(function(){
    	clearTimeout(delayedID);
    	$('.hint').remove();
    });    
    // END----------------------------------------------------7.2
});//=END================================================== jQuery ===============================================================================
</script>

</html>
