<!DOCTYPE html>
<html>
<head>

  <title><%= yield(:title).presence || "Denvy Yard playgrounds" %></title>
  <link rel="shortcut icon", href="/assets/icons/favicon.ico" >
  <meta name="description" content="<%= yield(:metaDescription) %>">
  <meta name='yandex-verification' content='6292a83da9fa8c28' />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>


<body>
<%# render 'layouts/yandexMetrika' %>

<%= yield %>



<%= render 'layouts/footer' %>
<%= render 'layouts/bewitching' %>

<% if flash[:success] %>
    <div id="flash_box"><p><%= flash[:success] %></p></div>
<% end %>

<% if flash[:error] %>
    <div id="flash_box"><p><%= flash[:error] %></p></div>
<% end %>

<%# debug(params) %>
</body>

<!--
<script src="<%= javascript_path('jquery') %>" type="text/javascript"></script>
<script src="<%= javascript_path('jquery.inputmask') %>" type="text/javascript"></script>
<script src="<%= javascript_path('jquery.mobile.custom.min') %>" type="text/javascript"></script>
<script src="<%= javascript_path('lazypainter') %>" type="text/javascript"></script>
-->


</html>
